@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #3e3e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.left-longin {
    width: 50vh;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    font-size: 3vw;
    color: #F0F0F0;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.card-login {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #282828;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1 {
    color: #F0F0F0;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    transition: 1s;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #1b1a1a;
    color: rgb(4, 255, 4);
    font-weight: bold;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #0e0d0d56;
    outline: none;
    box-sizing: border-box;
}

.textfield>input:hover {
    background-color: #000000;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: rgb(13, 94, 13);
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000000;
    background: #F0F0F0;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgba(186, 205, 195, 0.322);
    transition: 1s all;
}

.btn-login:hover {
    transform: scale(1.1);
    transition: 1s all;
    color: #03ab1f;
}


@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 50%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;


    }

    .card-login {
        width: 90%;
    }
}

