<link rel="stylesheet" href="../css/formulario.css">

<h1 class="til">Dados Atualizados com Sucesso !!</h1>
<a href="http://localhost:3000/select">
        <svg class="retonar-tabela" id="seta"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" id="entypo-back" width="128" height="128" fill="currentColor"><g><path d="M19 7v6c0 1.103-.896 2-2 2H3v-3h13V8H5v2L1 6.5 5 3v2h12a2 2 0 0 1 2 2z"/></g></svg>
    </a>