<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/dashboard.css">
    <title>DashBoard</title>
</head>

<body>
    <header>
        <div id="itens-menu">
            <h1 class="titulo-ferramentas">Gerencie suas Ferramentas</h1>
        </div>
    </header>
    <main>
        <div class="bloco-principal">
            <a href="inserir"><img id="add" class="img-principal" src="img/add.svg"></a>
            <a href="select"><img id="find" class="img-principal" src="img/find.svg"></a>
            
        </div>
        <div class="marcadores">
            <h3>Adicionar Funcionários</h3>
            <h3>Listar Funcionários</h3>
        </div>
    </main>
</body>

</html>